<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @sample.title %>
</p>

<p>
  <b>Description:</b>
  <%= @sample.description %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
