<div style="margin: 30px">
<div class="module"><h4 id="M1"> Per base sequence quality</h4>
  <p><img alt="Per base quality graph" src="<%= @baseurl%>Images/per_base_quality.png" class="indented"></p>
</div>
<div class="module"><h4 id="M2"> Per sequence quality scores</h4>
  <p><img alt="Per Sequence quality graph" src="<%= @baseurl%>Images/per_sequence_quality.png" class="indented"></p>
</div>
<div class="module"><h4 id="M3"> Per base sequence content</h4>
  <p><img alt="Per base sequence content" src="<%= @baseurl%>Images/per_base_sequence_content.png" class="indented"></p>
</div>
<div class="module"><h4 id="M4"> Per base GC content</h4>
  <p><img alt="Per base GC content graph" src="<%= @baseurl%>Images/per_base_gc_content.png" class="indented"></p>
</div>
<div class="module"><h4 id="M5"> Per sequence GC content</h4>
  <p><img alt="Per sequence GC content graph" src="<%= @baseurl%>Images/per_sequence_gc_content.png" class="indented"></p>
</div>
<div class="module"><h4 id="M6"> Per base N content</h4>
  <p><img alt="N content graph" src="<%= @baseurl%>Images/per_base_n_content.png" class="indented"></p>
</div>
<div class="module"><h4 id="M7"> Sequence Length Distribution</h4>
  <p><img alt="Sequence length distribution" src="<%= @baseurl%>Images/sequence_length_distribution.png" class="indented"></p>
</div>
<div class="module"><h4 id="M8"> Sequence Duplication Levels</h4>
  <p><img alt="Duplication level graph" src="<%= @baseurl%>Images/duplication_levels.png" class="indented"></p>
</div>
</div>
