<div class="textbox">
  <div class = "textbox-title">
    <div> <%= raw @data_east1[:title] %>
    </div>  
  </div>
  <div class="textbox-content">
    <div style="height:200px;overflow:auto">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <% @data_east1[:head].each do |s| %>
              <th> <%= raw s %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @data_east1[:body].each do |dd| %>
            <tr>
              <% dd.each do |d| %>
                <td> <%= raw d %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <a class="btn btn-mini pull-right" href="<%= raw @data_east1[:url_download] %>"> Download Data</a>
</div>
<br />
<br />
<br />
<div class="textbox">
  <div class = "textbox-title">
    <div> <%= raw @data_east2[:title] %>
    </div>  
  </div>
  <div class="textbox-content">
    <div style="height:200px;overflow:auto">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <% @data_east2[:head].each do |s| %>
              <th> <%= raw s %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @data_east2[:body].each do |dd| %>
            <tr>
              <% dd.each do |d| %>
                <td> <%= raw d %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <a class="btn btn-mini pull-right" href="<%= raw @data_east2[:url_download] %>"> Download Data</a>
</div>
<br />



<br />
<br />
<br />
<i class="icon-info-sign"></i> Tips
<br/>
<%= @data_east1[:help].html_safe %>



