<script type="text/javascript">
  $(function(){
      $("#factor_selected_ids").multiselect();
      $("#q_value").hide();
      $("#s_method").change(function(){
        if($("#s_method").val()=='renyi'){
          $("#s_method").width("200px")
          $("#q_value").show();
        }else{
          $("#q_value").hide();
          $("#s_method").width("270px")
        }
        })
      });
</script>


<%= form_tag({:controller => "/experiments", :action => "whole_tcr_analysis"}, :method => "post",:remote=> true)   do %>

  <div class="form-inputs">
    <table >
      <tr>
        <td>
          <%= label_tag  :s_type, "Data type" %>
          <%= select_tag :s_type, options_for_select(@s_type[:collect], @s_type[:selected]),:style=>"width:280px;" %>
        </td>
        <td> 
          <%= label_tag  :s_method, "Diversity Mehtod" %>
          <%= select_tag :s_method, options_for_select(@s_method[:collect], @s_method[:selected]),:style=>"width:270px" %>
        </td> 
        <td>
          <div id= "q_value">
            <%= label_tag  :q_value, "q value" %>
            <input    class="color-input"  type="text" name="q_value" value= 2 >
          </div>
      </td> 
    </tr>
  </table>


     <br />
    <%= label_tag  :factor_ids, "Select factors to combine samples(leave blank to not combine)" %>
    <%= select_tag :factor_ids, options_for_select(@factor_collection),{:multiple=>true, :id=>"factor_selected_ids", :style=>"width: 580px;height:195px"}  %>
     </div>

  <%= hidden_field_tag :id,@experiment.id %>
  <%= hidden_field_tag :task,@task %>
  <div class="form-actions"  style= "display:none;">
    <%= submit_tag "submit", :id => "submit_create" %>
  </div>
<% end %>
