<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "qPCR Data Analysis" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "qPCR Data Analysis" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
<script>
    $(document).ready(function () {
      $('body').layout({
        north: {
          size: "auto", 
          spacing_open: 0,
          closable: false,
          resizable: false
        } ,        
        west:{
          size:500 
        },
        center__childOptions:{
          north__size: 0.5,
        },
       applyDefaultStyles: true });
    });
  </script>
  <body>
    <div class="ui-layout-north">
      <div class="navbar">
        <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
        </nav>
      </div>
    </div>
    <div class="ui-layout-west">
      <%= yield :west%> 
    </div>
    <div class="ui-layout-center" >
      <div class="ui-layout-north">  <%= yield %> </div>
      <div class="ui-layout-center"> 
        <h4> Primer Comment  <span id="primer_comment_new"> </span>  </h4>        
        <div id="primer_comment_list" class = "well well-small" > No comment</div>
      </div>
    </div>
 </body>
</html>
